.hero-carousel {
    position: relative;
  }
  
  .hero-carousel__slide {
    position: relative;
    height: 80vh; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-carousel__background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    width: 100%;
    position: relative;
  }
  
  .hero-carousel__overlay {
    position: absolute;
    top: 57%;
    left: 5%;
    transform: translateY(-50%);
    color: #fff;
    max-width: 600px;
    z-index: 2;
  }
  
  .hero-carousel__title {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  .hero-carousel__subtitle {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  .hero-carousel__actions {
    color: #fff;
    display: flex;
    gap: 1rem;
  }
  
  .hero-carousel__btn {
    padding: 0.75rem 1.5rem;
    border: none;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    font-weight: bold;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra para melhor leitura */
  }
  
  .hero-carousel__btn:hover {
    background-color: #555;
  }
  
  .hero-carousel__btn--whatsapp {
    background-color: #25D366;
  }
  
  .hero-carousel__btn--whatsapp:hover {
    background-color: #1EBF5C;
  }
  
  .hero-carousel__btn--more {
    background-color: #444;
  }
  
  .slick-dots li button:before {
    font-size: 12px;
    color: #fff;
  }
  