.practice-areas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 80px;
    background: url("src/assets/images/balance.svg") no-repeat top 16px right 16px ;
    background-color: var(--gray-color);
}

.practice-cards-container ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 2rem 0;
    justify-items: center;
}