.practice-areas-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 2000px;

    padding: 160px 80px;
    background: url("src/assets/images/balance.svg") no-repeat top 16px right 16px ;
    background-color: #aeaeae;

}

.section-title {
    position: relative;

}

.practice-areas-container h2 {
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    cursor: default;
}

.top-line-title {
    content: "";
    position: absolute;
    height: 3px;
    width: 120px;
    right: 82%;
    background-color: #fff;
    transition: 0.4s;
}

.bottom-line-title {
    content: "";
    position: absolute;
    height: 3px;
    width: 100px;
    top: 4rem;
    left: 27rem;
    background-color: #fff;
    transition: 0.4s;
}

.practice-cards-container ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 2rem 0;
    justify-items: center;
}