.client-review-card-container {
    border-radius: 5px;
    background-color: #595959;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-family: Kanit, sans-serif;
    box-shadow: 0 55px 94px rgba(0, 0, 0, 0.08),
    0 16.5809px 28.3382px rgba(0, 0, 0, 0.0521271),
    0 6.88685px 11.7703px rgba(0, 0, 0, 0.04),
    0 2.49084px 4.25707px rgba(0, 0, 0, 0.0278729);
}

.client-review-card-container img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.client-review-card-container h3 {
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
    margin-top: 0.5rem;
}

.line-review {
    content: "";
    background-color: #35354447;
    width: 50%;
    height: 2px;
    margin: 0.5rem 0;
}

.client-review-card-container p {
    font-weight: 300;
    line-height: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    color: #DCDCDC;
}

.stars-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.stars-container img {
    width: 25px;
    height: 25px;
}