.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 15vh;
    gap: 20vw;
    /* border: 1px solid red; */
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.logo-container a {
    height: 70%;
}

.logo-container img {
    height: 115%;
}

.logo-container p {
    font-weight: 700;
    position: relative;
    display: inline-block;
    font-size: 1.3rem;
}

.logo-container p::before {
    position: absolute;
    background-color: var(--red-color);
    left: 0;
    height: 1px;
    width: 72%;
    content: "";
    bottom: 2rem;
}

.right-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.informations-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
}

.informations-container a {
    color: rgb(219 219 219);
}

.informations-container a:hover {
    color: white;
}

.informations-container span {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: 400;
}

.informations-container span img {
    height: 20px;
}

.links-nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
    border-top: 1px solid var(--red-color);
    padding: 8px;
    padding-top: 15px;
}

.links-nav-container a:hover {
    color: white !important;
}

.links-nav-container a span {
    height: 5px;
    width: 5px;
    background-color: var(--gray-color);
    content: "";
    position: absolute;
    transform: translateX(-1.8rem) rotate(45deg);
    margin: 10px 0 0 12px;
    transition: 0.5s;
}

.links-nav-container a {
    text-decoration: none;
    color: rgb(219 219 219);
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    font-weight: 400;
    transition: 0.3s;
}

.header-image {
    max-width: 100vw;;
}